<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-image: url('http://localhost:9090/backgroud.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        
        .fa,
        .fas {
            color: #858585;
        }
        
        .fa-folder {
            color: rgb(74, 158, 255);
        }
        
        i.fa,
        table i.fas {
            font-size: 16px;
            margin-right: 6px;
        }
        
        i.action {
            cursor: pointer;
        }
        
        a {
            color: black;
        }
        
        .search-bar {
            flex: 1;
            margin: auto;
        }
        
        .search-bar input[type="text"] {
            margin-left: 50px;
            width: 75%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 5px #ccc;
        }
        
        .activate {
            display: flex;
            align-items: center;
        }
        
        .activate button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 5px 10px;
            margin-right: 10px;
            cursor: pointer;
        }
        
        .status-inf {
            margin-left: auto;
            margin-right: 20px;
            border: 1px solid #ccc;
            border-radius: 999px;
            padding: 10px 20px;
            cursor: pointer;
        }
        
        .status-inf span {
            margin-left: 10px;
        }
        
        .avatar-inf {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 999px;
            padding: 10px 20px;
            cursor: pointer;
        }
        
        .logo img {
            width: auto;
            height: 120px;
            margin-left: 30px;
        }
        
        header {
            background-color: #fff;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 2px 5px #ccc;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 12%;
            z-index: 1;
        }
        
        .dropdown .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
            font-size: 25px;
            color: #fff;
        }
        
        .search-btn {
            min-width: 100px;
            padding: 10px;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            background-color: #c2e7ff;
        }
        
        .container {
            display: flex;
            flex-direction: row;
            max-width: 1200px;
            margin-top: 100px;
            padding: 20px;
        }
        
        .left-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            background-color: #ffffff;
            padding: 20px;
            margin-right: 20px;
            border-radius: 10px;
        }
        
        .left-menu img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
            cursor: pointer;
        }
        
        .left-menu ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding: 0;
        }
        
        .left-menu ul li {
            margin-bottom: 10px;
        }
        
        .left-menu ul li a {
            color: #333;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            transition: color 0.3s;
        }
        
        .left-menu ul li a:hover {
            color: #666;
        }
        
        .right-content {
            flex-direction: column;
            width: 75%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
        }
        
        .right-content h2 {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: bold;
        }
        
        .right-content form {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            margin: 0 auto;
        }
        
        .right-content label {
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .right-content .name-group input[type="text"] {
            margin-right: 20px;
            width: 48%;
        }
        
        .right-content .contact-group input[type="email"],
        .right-content .contact-group input[type="tel"] {
            margin-left: 10px;
            margin-right: 19px;
            width: 48%;
        }
        
        .right-content input[type="text"],
        .right-content input[type="email"],
        .right-content input[type="tel"] {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            font-size: 16px;
        }
        
        .right-content button {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .right-content button:hover {
            background-color: #666;
        }
        
        .avatar-group {
            position: relative;
            width: 100px;
            height: 100px;
            margin-left: 0px;
            margin-bottom: 20px;
        }
        /* Thêm lớp CSS cho ô vuông tròn avatar */
        
        .avatar-preview {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
        }
        
        .avatar-input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            /* giá trị z-index là số dương */
            width: 100%;
            height: 100%;
        }
        
        .avatar-preview img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        
        .save-btn {
            margin-top: 30px;
        }
        
        .icon {
            display: inline-block;
            width: 50px;
            height: 40px;
        }
        
        .icon .avatar-preview {
            display: inline-block;
            width: 50px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }
        
        .icon .avatar-preview img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        /*search-bar*/
        
        .search-bar {
            display: flex;
            align-items: center;
            margin-left: 60px;
            position: relative;
        }
        
        .search-input-container {
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        .search-input-container input[type="text"] {
            width: 100%;
            padding: 10px 450px 10px 10px;
            margin-right: 10px;
            border: none;
            border-radius: 10px;
            background-color: #f2f2f2;
            font-size: 16px;
            color: #333;
            box-sizing: border-box;
        }
        
        .search-input-container button {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
            color: #333;
            font-size: 16px;
        }
        
        .advanced-search-btn {
            min-width: 100px;
            padding: 10px;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            background-color: #c2e7ff;
        }
        
        .advanced-search-input {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 79%;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 16px;
            color: #333;
            z-index: 999;
        }
        
        .advanced-search-input label {
            display: block;
            margin-bottom: 5px;
        }
        
        .advanced-search-input input[type="text"] {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #f2f2f2;
            font-size: 16px;
            color: #333;
            box-sizing: border-box;
            justify-content: center;
        }
        
        .advanced-search-input select {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #f2f2f2;
            font-size: 16px;
            color: #333;
            box-sizing: border-box;
            justify-content: center;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <a href="http://localhost:9090/">

                <img src="http://localhost:9090/logo.png">
            </a>
        </div>
        <div class="search-bar">
            <div class="search-input-container">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="search-btn" class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <button id="advanced-search-btn" class="advanced-search-btn">Advanced Search</button>
            <div id="advanced-search-input" class="advanced-search-input">
                <div class="form-group">
                    <label for="from-input">From:</label>
                    <input type="text" id="from-input" name="from">
                </div>
                <div class="form-group">
                    <label for="to-input">To:</label>
                    <input type="text" id="to-input" name="to">
                </div>
                <div class="form-group">
                    <label for="subject-input">Subject:</label>
                    <input type="text" id="subject-input" name="subject">
                </div>
                <div class="form-group">
                    <label for="date-within-input">Date within:</label>
                    <select id="date-within-input" name="date-within">
                        <option value="1d">1 day</option>
                        <option value="1w">1 week</option>
                        <option value="1m">1 month</option>
                        <option value="3m">3 months</option>
                        <option value="6m">6 months</option>
                        <option value="1y">1 year</option>
                    </select>
                </div>
                <button class='advanced-search-input-btn' type="submit">Search</button>
            </div>
        </div>


        <div class="status-inf">
            <i class="fa fa-solid fa-circle" style="color: green;"></i>
            <span class="status">Active</span>
        </div>

        <div class="dropdown text-right">
            <div class="avatar-inf dropdown-toggle text-primary" data-toggle="dropdown" data="<%= user.Email %>">
                <span class="icon">
                    <div class="avatar-preview">
                        <% if (!user.avatar) { %>
                            <img id="avatar-img" src="https://via.placeholder.com/100" alt="Avatar">
                            <% } else{ %>
                                <img id="avatar-img" src="http://localhost:9090/<%= user.avatar %>" alt="Avatar">
                                <% } %>
                    </div>
                </span>
                <span class="username"><%= user.Name %></span>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/account/profile">
                        <i class="fas fa-info-circle"></i> &nbsp;&nbsp;Cập nhật thông tin
                    </a>
                    <a class="dropdown-item" href="/account/logout">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Đăng xuất</a>
                </div>
                <div style="display: none;" id="user-id">
                    <%= user.id %>
                </div>
            </div>

    </header>


    <div class="container">

        <div class="left-menu">
            <div class="avatar-group">

                <div class="avatar-preview">
                    <% if (!user.avatar) { %>
                        <img id="avatar-img" src="https://via.placeholder.com/100" alt="Avatar">
                        <% } else{ %>
                            <img id="avatar-img" src="http://localhost:9090/<%= user.avatar %>" alt="Avatar">
                            <% } %>
                </div>
                <input type="file" name="avatar" id="avatar" class="avatar-input" accept="image/*">
            </div>
            <ul>
                <li><a href="/account/profile">Account</a></li>
                <li><a href="/account/security">Password</a></li>
                <li><a href="#">Security and Privacy</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="right-content">
            <h2>Personal Information</h2>
            <form method="post" name="changePasswordForm" onsubmit="return validateForm()">
                <p> <label class="control-label">Email:</label>
                    <input name="email" class="form-control" disabled value="<%= user.Email %>">
                </p>
                <p> <label>Old Password</label>
                    <input type="password" class="form-control" name="pass_old">
                </p>
                <p> <label>Mật khẩu mới:</label>
                    <input type="password" class="form-control" name="pass_new1">
                </p>
                <p><label>Gõ lại mật khẩu mới:</label>
                    <input type="password" class="form-control" name="pass_new2">
                </p>

                <p><button type="submit" class="btn btn-warning">Đổi mật khẩu</button></p>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>
    <script>
        function showNotification(message) {
            alert(message);
        }

        function validateForm() {
            var pass_old = document.forms["changePasswordForm"]["pass_old"].value;
            var pass_new1 = document.forms["changePasswordForm"]["pass_new1"].value;
            var pass_new2 = document.forms["changePasswordForm"]["pass_new2"].value;

            if (pass_old == "") {
                showNotification("Vui lòng nhập mật khẩu cũ!");
                return false;
            }


            if (pass_new1 == "") {
                showNotification("Vui lòng nhập mật khẩu mới!");
                return false;
            }
            if (pass_new2 == "") {
                showNotification("Vui lòng nhập lại mật khẩu mới!");
                return false;
            }

            if (pass_new1 != pass_new2) {
                showNotification("Mật khẩu mới không khớp!");
                return false;
            }
            showNotification("Mật khẩu đã được thay đổi!");
            return true;
        }
        $(document).ready(function() {
            $(".dropdown-toggle ").click(function() {
                $(".dropdown-menu ").toggle();
            });
        });




        $(document).ready(function() {
            // Xử lý khi người dùng chọn file ảnh mới
            $('#avatar').on('change', function() {
                var formData = new FormData();
                formData.append('avatar', $('#avatar')[0].files[0]);


                $.ajax({
                    url: '/account/upload-avatar',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {

                        $('#avatar-img').attr('src', data.imageUrl);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log('Error uploading image: ' + errorThrown);
                    }
                });
            });
        });

        $("#avatar-img").on("click", function() {
            $("#avatar").click();
        });

        $(document).ready(function() {
            $('.save-btn').click(function() {
                const firstName = $('#first-name').val();
                const phone = $('#phone').val();

                $.post('/account/profile', {
                    'first-name': firstName,
                    'phone': phone
                }, function(data, status) {
                    console.log('Response status: ' + status);
                });
            });
        });
    </script>


</body>

</html>